<p>This is the <%= link_to "microtext.js branch", "https://github.com/rodrigoalvesvieira/microtext-demo/tree/microtext.js" %> and demonstrates the time Rails views take to display <%= @size %> words from the computer's dictionary with 4 different JavaScript (Microtext.js) methods:
</p>

<ul>
  <li>truncate</li>
  <li>simple_format</li>
  <li>excerpt</li>
  <li>parameterize</li></li>
</ul>

<p>The <%= link_to "master branch", "https://github.com/rodrigoalvesvieira/microtext-demo/tree/master" %> contais the same data processed by Rails on the server side</p>