Welcome to the Microtext.js demo!

<p>This is the <%= link_to "master branch", "https://github.com/rodrigoalvesvieira/microtext-demo/tree/master" %> and demonstrates the time Rails takes to display <%= @size %> words from the computer's dictionary with 4 different helper methods:
</p>

<ul>
  <li>truncate</li>
  <li>simple_format</li>
  <li>excerpt</li>
  <li>parameterize</li></li>
</ul>

<p>The <%= link_to "microtext.js branch", "https://github.com/rodrigoalvesvieira/microtext-demo/tree/microtext.js" %> contais the same data processed by JavaScript on the client side</p>