<h2>truncate <%= link_to "API link", "api.rubyonrails.org/classes/ActionView/Helpers/TextHelper.html#method-i-truncate" %></h2>

<ul class="truncate-elements">
<%= @lines.each_with_index do |line, i| %>
  <% if i < (@lines.size - 5) %>
    <li><%= @lines[i] + @lines[i+1] + @lines[i+2] + @lines[i+3] + @lines[i+4] %></li>
  <% end %>
<% end %>
</ul>

<script type="text/javascript">

$(document).ready(function () {
  var truncatedText;

  $(".truncate-elements li").each(function () {
    truncatedText = Microtext.truncate($(this).text(), 20);
    $(this).text(truncatedText);
  });

});

</script>